@import url('https://fonts.googleapis.com/css2?family=Goldman:wght@700&display=swap');

body{
    font-family: goldman;
    background-color:#17a2b8;
    color: white;
    
}

.titre{
    padding-left: 700px;

}