@import url('https://fonts.googleapis.com/css2?family=Goldman:wght@700&display=swap');

body{
    font-family: goldman;
}

nav{
    color: #1464f6;
}
.allCard{
    display: flex;
    padding-top: 50px;
}

.card1 .card2 .card3{
    justify-content: space-between;
}
.jumbotron{
    background-image: url(assets/img/code_matrix.png);
}
.presentation{
    padding-left: 30px;
}

footer{

    height:500px;
   background-color: lightslategrey;
 
    
} 
.couleur:hover{
    background-color: red;
}

.cv{
    margin-top: 20px;
}

.card1{
    margin-top: 40px;
}
/* #scrolltotop{display:none;z-index:1000;position:fixed;bottom:25px;right:35px;cursor:pointer;width:40px;height:40px;background:#111111;}

#scrolltotop div{width:6px;height:6px;transform:rotate(-135deg);border:solid #ffffff;border-width:0 3px 3px 0;padding:3px;margin-top:16px;margin-left:12px;} */



#scrolltotop{
    position: fixed ;
    width: 25px;
    height: 25px;
    bottom: 50px;
    right: 50px;
}
.fa-arrow-up{
    font-size: 30px;

}
.container2{

    padding-left: 250px;
}